---
import { Image } from 'astro:assets';
import karuizawa from '../../public/images/karuizawa.jpeg';
import idoutyu from '../../public/images/idoutyu.jpeg';
---

<style>
  @font-face {
    font-family: 'k8x12';
    src: url('/fonts/k8x12.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: 'k8x12', sans-serif;
  }
</style>

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="flex flex-col gap-4 mb-24">
    <div class="relative h-48 overflow-hidden">
      <Image
        src={karuizawa}
        alt="A picture of hoshinoya karuizawa"
        class="w-full h-auto object-cover filter brightness-50"
      />
      <div
        class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center text-white space-y-4 text-center"
      >
        <h1 class="text-2xl border-b border-white">Wedding Invitation</h1>
        <div>
          <h2>Shun & Eriko</h2>
          <time>2024.4.20</time>
        </div>
      </div>
    </div>
    <section class="flex flex-col gap-2 text-center">
      <p>謹啓</p>
      <p>皆様におかれましては ますますご清祥のこととお慶び申し上げます</p>
      <p>このたび 私たちは結婚をすることになりました</p>
      <p>
        つきましては 日頃お世話になっております皆様に<br />
         感謝を込めて ささやかな小宴を催したく存じます
      </p>
      <p>
        ご多用中 誠に恐縮ではございますが<br />
         ぜひご出席をいただきたく ご案内申し上げます
      </p>
      <p>謹白</p>
    </section>
    <div class="relative h-56 overflow-hidden">
      <Image
        src={idoutyu}
        alt="A picture of hoshinoya karuizawa"
        class="w-full h-auto object-cover filter brightness-50"
      />
      <div
        class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center text-white space-y-4 text-center"
      >
        <p>日付：2024年4月20日(土)</p>
        <p>挙式：15時45分</p>
        <p>披露宴：16時15分</p>

        <p>場所：東京都港区南青山3-5-30 表参道テラス</p>
      </div>
    </div>
    <section class="flex flex-col gap-4 text-center">
      <p>
        お手数ではございますが<br />ご都合の程を<strong>11月22日迄</strong>に
        ご一報賜りますようお願い申し上げます
      </p>
      <a href="#" class="text-blue-500 underline hover:text-blue-800"
        >▶︎出欠を解答する</a
      >
    </section>
    <footer
      class="fixed inset-x-0 bottom-0 bg-black text-white p-4 text-center h-16"
    >
      <p>© 2024 Shun & Eriko</p>
    </footer>
  </body>
</html>
